Repository mokkun55/react-templete: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, spell-check, tsc

biome-check:
  run: pnpm run biome {stage_file}
  stage_fixed: true

spell-check:
  run: pnpm run check-spell {stage_file}

tsc:
  run: pnpm run tsc {stage_file}

update: lefthook.yaml
  lefthook.yaml
Due: none

feat: update lefthook
  lefthook.yaml
  package.json
  src/hoge.tsx
Due: biome-check, spell-check, tsc

fix: lefthook
  lefthook.yaml
Due: none

fix: gitignore file
  .gitignore
Due: none

fix: update tsc command in lefthook.yaml
  lefthook.yaml
Due: none

feat: router
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/App.css
  src/App.tsx
  src/main.tsx
  src/pages/Home.tsx
  src/providers/baseProvider.tsx
  src/router/Route.tsx
Due: biome-check, spell-check, tsc

feat: alias
  src/main.tsx
  tsconfig.app.json
  tsconfig.json
Due: biome-check, spell-check, tsc

feat: add sass
  package.json
  pnpm-lock.yaml
Due: biome-check, spell-check

feat: add mantine
  package.json
  pnpm-lock.yaml
  src/main.tsx
  src/providers/baseProvider.tsx
Due: biome-check, spell-check, tsc

fix: alias import
  vite.config.ts
Due: biome-check, spell-check, tsc

feat: add mantine
  package.json
  pnpm-lock.yaml
  src/pages/Home.tsx
Due: biome-check, spell-check, tsc

fix: relative inport
  src/router/Route.tsx
Due: biome-check, spell-check, tsc

feat: add turbo
  package.json
  pnpm-lock.yaml
  turbo.json
Due: biome-check, spell-check

feat: turbo setting
  .gitignore
  package.json
Due: biome-check, spell-check

feat: add workflow files
  .github/workflows/ci.yaml
Due: none

fix: ci.yaml pnpm versions
  .github/workflows/ci.yaml
Due: none

Update renovate.json
  renovate.json
Due: biome-check, spell-check

update: readme
  README.md
Due: none

Update README.md
  README.md
Due: none

Path conditions:
  biome-check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  spell-check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  tsc: any of: *.{js,ts,tsx}
